@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: FerrariSans;
    src: url(Polices/FerrariSans.woff2) format('woff2'),
         url(Polices/FerrariSans.woff) format('woff');
}



body {
    font-family: 'FerrariSans', sans-serif;
    background-color: #181818;
    color: #fff;
    margin: 0;
    line-height: 1.5;
}

ul.navbar {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    background-color: #333;
    font-family: Univers, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

ul.navbar li a {
    color: #d4000d;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

ul.navbar li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.car-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    ul.navbar {
        flex-direction: column;
        align-items: center;
    }

    ul.navbar li {
        width: 100%;
        text-align: center;
    }

    h1 {
        font-size: 1.5rem;
    }
}